<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark deep-orange scrolling-navbar" [containerInside]="false">
  <logo>
    <a class="logo navbar-brand" routerLink="home"><strong>Plutagram</strong></a>
  </logo>
  <links>
    <ul class="navbar-nav mr-auto">
      <!--Sign in-->
      <li *ngIf="!isLoggedIn()" class="nav-item waves-light" routerLinkActive="active" mdbRippleRadius>
        <a routerLink="/signin" class="nav-link">Sign in <span class="sr-only">(current)</span></a>
      </li>

      <!--Sign up-->
      <li *ngIf="!isLoggedIn()" routerLinkActive="active" class="nav-item waves-light" mdbRippleRadius>
        <a routerLink="/signup" class="nav-link">Sign up</a>
      </li>


    </ul>

    <!--Right side of navbar-->
    <ul class="navbar-nav">
      <li *ngIf="isLoggedIn()" class="nav-item waves-light">
        <form class="form-inline waves-light" (ngSubmit)="searchUsers()" mdbWavesEffect>
          <div class="md-form my-0">
            <input [(ngModel)]="searchBarValue" name="searchFormInput"  style="margin-right: 10px;" class="form-control mr-sm-2" type="text" placeholder="Search users" aria-label="Search">
          </div>
        </form>
      </li>
      <!--Log out-->
      <li *ngIf="isLoggedIn()" class="nav-item waves-light avatar">
        <a routerLink="/myprofile" style="margin-top: 3px;" class="nav-link p-0" href="#" aria-haspopup="true" aria-expanded="false">
          {{user.username }}
          <img *ngIf="user" style="max-height: 35px; max-width: 35px;" src="{{ displayPicture() }}" class="img-fluid rounded-circle z-depth-0"></a>
      </li>
      <li *ngIf="isLoggedIn()" routerLinkActive="active" class="nav-item waves-light" mdbRippleRadius>
        <a routerLink="/home" class="nav-link">Home</a>
      </li>
      <li *ngIf="isLoggedIn()" routerLinkActive="active" class="nav-item waves-light" mdbRippleRadius>
        <a routerLink="/chat" class="nav-link">Chat</a>
      </li>
      <li *ngIf="isLoggedIn()" routerLinkActive="active" class="nav-item waves-light" mdbRippleRadius>
        <a routerLink="/settings" class="nav-link">Settings</a>
      </li>
      <li *ngIf="isLoggedIn()" routerLinkActive="active" class="nav-item waves-light" mdbRippleRadius>
        <a class="nav-link">Log out</a>
      </li>
    </ul>
  </links>
</mdb-navbar>
