<div class="container col-lg-5">
  <!--Validation form-->
  <form class="text-center p-5">

    <p class="h4 mb-4">Sign in</p>

    <!-- Username -->
    <input type="text" id="loginFormUsername" class="form-control mb-4" placeholder="Username">

    <!-- Password -->
    <input type="password" id="loginFormPassword" class="form-control mb-4" placeholder="Password">

    <div class="d-flex justify-content-around">
      <div>
        <!-- Forgot password -->
        <a href="">Forgot password?</a>
      </div>
    </div>

    <!-- Sign in button -->
    <button mdbBtn block="true" class="my-4 deep-orange" type="submit">Sign in</button>

    <!-- Register -->
    <p>Not a member?
      <a href="/signup">Register</a>
    </p>

  </form>
  <!-- Default form login -->

</div>
