<span>
  <div style="margin-bottom: 10px;" class="card">
	    <div class="card-body">
	        <div class="row">
        	    <div class="col-md-2">
        	        <!--<img [src]=" getUserImageUrl() | safe"/>-->
                <div style="text-align: center;" class="avatar p-3">
                      <img style="width: 50px; height: 50px;" [src]=" getUserImageUrl() | safe" class="rounded-circle"
                           id="profileImage">
                </div>
        	        <p class="text-center"> {{ getCommentDate() }}</p>
        	    </div>

        	    <div class="col-md-10">
        	        <p>
        	            <a class="float-left"><strong>{{ comment.username }} </strong></a>

        	       </p>
        	       <div class="clearfix"></div>
        	        <p> {{ comment.content }} </p>
        	    </div>
	        </div>
	    </div>
	</div>
</span>
