<div class="container col-sm-8 col-md-7">
  <div class="row">
    <!--Profile information-->
    <div class="col-sm-12 col-md-12 col-lg-3">
      <mdb-card style="margin-bottom: 40px;" class="testimonial-card">

        <div class="deep-orange lighten-1">
          <!--Avatar-->
          <div style="text-align: center;" class="avatar p-3">
            <img style="width: 90%; height: 90%;" src="{{ displayPicture() }}" class="rounded-circle"
                 id="profileImage">
          </div>
        </div>


        <mdb-card-body>
          <!--Name-->
          <mdb-card-title>
            <!--Aligned username-->
            <h4 *ngIf="visitedUser" style="text-align: center">{{ visitedUser.username  }}</h4>
          </mdb-card-title>
        </mdb-card-body>

        <mdb-card-footer class="deep-orange lighten-1 text-center">
          <ul class="list-unstyled list-inline font-small mt-3">
            <li class="list-inline-item pr-2 white-text">
              <i class="fas fa-user pr-1"></i>{{ getFollowers() }}
            </li>
            <li class="list-inline-item pr-2">
              <a href="#" class="white-text">
                <i class="far fa-user pr-1"></i>{{ getFollowing() }}</a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="white-text">
                <i class="fa fa-clone pr-1"> </i>{{ getPostCount() }}</a>
            </li>
          </ul>
          <span class="text-center">
              <button *ngIf="!following" mdbBtn type="button" color="white" [outline]="true" size="sm" mdbWavesEffect (click)="followUser()">Follow</button>
              <button *ngIf="following" mdbBtn type="button" color="black" [outline]="true" size="sm" mdbWavesEffect (click)="unfollowUser()">Unfollow</button>
          </span>
        </mdb-card-footer>
      </mdb-card>
    </div>

    <!--Content Area-->
    <div class="col-sm-12 col-md-12 col-lg-9">

      <!--Card-->
      <div *ngIf="following">
      <mdb-card style="margin-bottom: 40px;" *ngFor="let post of visitedUser.posts" cascade="true" wider="true" class="card-ecommerce">
        <!--Card image-->
        <div class="view view-cascade overlay waves-light" mdbWavesEffect>
          <mdb-card-img src="{{ getFullPhotoUrl(post) }}"
                        alt="sample photo"></mdb-card-img>
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!--Card image-->
        <!--Card content-->
        <mdb-card-body cascade="true" class="text-center no-padding">
          <!--Category & Title-->
          <a href="" class="float-left text-muted">
            <i class="fas fa-calendar ml-3"></i> {{ getPostDate(post)}}
          </a>

          <mdb-card-title>
            <h4 class="card-title p-4 text-center">
              <strong>
                {{ post.description }}
              </strong>
            </h4>
          </mdb-card-title>
        </mdb-card-body>
        <mdb-card-footer>
            <span class="float-right">
              <a class="" data-toggle="tooltip" data-placement="top" title="Likes">
                <i class="fas fa-thumbs-up ml-3"></i> {{ getPostLikes(post) }}
              </a>
              <a class="" data-toggle="tooltip" data-placement="top" title="Comments">
                <i class="fas fa-comment-alt ml-3"></i> {{ getPostComments(post) }}
              </a>
            </span>
        </mdb-card-footer>
        <!--Card content-->
      </mdb-card>
      </div>
      <!--Card-->
    </div>
  </div>
</div>
