<div mdbModal #cookie="mdbModal" class="modal fade bottom" id="frameModalTop" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
  <div class="modal-dialog modal-frame modal-bottom modal-notify modal-info" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Body-->
      <div class="modal-body">
        <div class="row d-flex justify-content-center align-items-center">

          <p class="pt-3 pr-2">We use cookies to improve your website experience</p>

          <a type="button" mdbBtn color="primary" class="waves-light" mdbWavesEffect>Learn more
            <i class="fa fa-book ml-1"></i>
          </a>
          <a type="button" mdbBtn color="primary" outline="true" class="waves-light" mdbWavesEffect data-dismiss="modal"
             (click)="cookie.hide()">Ok, thanks</a>
        </div>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
