<div mdbModal #modal="mdbModal" class="modal fade bottom" id="frameModalTop" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true" [config]="this.properties">
  <div class="modal-dialog modal-frame modal-bottom modal-notify modal-info" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Body-->
      <div class="modal-body">
        <div class="row d-flex justify-content-center align-items-center">

          <p class="pt-3 pr-2">{{ content }}</p>

          <a type="button" mdbBtn color="deep-orange" class="waves-light" mdbWavesEffect data-dismiss="modal"
             (click)="modal.hide()">Close</a>
        </div>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
